@import url("css/myfonts.css");
body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    width: 100%; 
    background:url(images/1479.png);
    height: 1100px!important;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

.wrapper.bg0 {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    /*background:linear-gradient(rgba(16, 181, 223, 0.418),rgba(230, 51, 185, 0.75)),url(images/sm-bg1.png)!important; */
    background: url(images/1479.png);
    background-size: cover;
    height: 1100px!important;    height: 1100px!important;
}

.wrapper.bg1 {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    /* background:linear-gradient(rgba(196, 90, 29, 0.75),rgba(161, 34, 34, 0.75)),url(images/sm-bg1.png)!important; */
    background: url(images/21011.png);
    background-size: cover;
    height: 1100px!important;
}

.wrapper.bg2 {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background:url(images/789.png)!important;
    background-size: cover;
    height: 1100px!important;
}

.wrapper.bg3 {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    /* background:linear-gradient(rgba(7, 209, 84, 0.75),rgba(80, 58, 202, 0.75)),url(images/sm-bg1.png)!important; */
    background: url(images/1479.png);
    background-size: cover;
    height: 1100px!important;
}

.wrapper.bg4 {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background:url(images/789.png)!important;
    background-size: cover;
    height: 1100px!important;
}


.wrapper.bg5 {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
   /* background:linear-gradient(rgba(228, 243, 10, 0.75),rgba(146, 60, 26, 0.75)),url(images/sm-bg1.png)!important;*/
   background: url(images/1479.png);
    background-size: cover;
    height: 1100px!important;
}
.wrapper.bg6 {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background:url(images/1479.png)!important;
    background-size: cover;
    height: 1100px!important;
}

.wrapper.bg7 {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
   /* background:linear-gradient(rgba(192, 10, 19, 0.75),rgba(66, 211, 85, 0.75)),url(images/sm-bg1.png)!important; */
   background: url(images/21011.png);
    background-size: cover;
    height: 1100px!important;
}

.wrapper.bg8 {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    /*background:linear-gradient(rgba(215, 218, 47, 0.75),rgba(167, 29, 137, 0.75)),url(images/sm-bg1.png)!important;*/
    background: url(images/1479.png);
    background-size: cover;
    height: 1100px!important;
}


.wrapper.bg9 {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
   /* background:linear-gradient(rgba(243, 223, 44, 0.75),rgba(0, 255, 221, 0.75)),url(images/sm-bg1.png)!important; */
   background: url(images/21011.png);
    background-size: cover;
    height: 1100px!important;
}

.my-rating {
    font-size: 12px;
}

.ui-loader.ui-corner-all.ui-body-a.ui-loader-default {
    display: none;
}

.wrapper {
    position: relative;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: transparent;
    /*background: url(images/1479.png)!important;*/
    background-size: cover!important;
    height: 1200px!important;
    color: #212121;
    font-size: 24px; 
    overflow-y: scroll;
}

.logo-container {
    background: linear-gradient(#2980B9,#6DD5FA);
    padding: 0px;
}

.logo-title {
    color: #fff;
    font-weight: 600;
}

h5 {
    font-size: 31px!important;
}

span {
    font-size: 50px;
    color: #ffffff;
    text-shadow: #212121 2px 1px;
    font-weight: 600;
    text-align: left;
}

span.logo-title {
    font-size: 21px!important;
}


div.panel-body.card-block h3 {
    display: block;
    text-align: center;
    padding: 50px;
    font-size: 60px;
    margin-top: 300px;
    color: #fff;
    text-transform: uppercase;
}

.main {
    width: 400px;
    margin: 0 auto;
}

.chart {
    min-width: 300px;
    max-width: 800px;
    height: 100%;
    max-height: 960px;
    margin: 1em auto;
    padding: 10px;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}
.modal .chart {
    height: 90%;
}

.refresh-overlay {
    background: #212121;
    display: block;
    position: absolute;
    z-index: 1;
    height:100%;
    width:100%;
    opacity: 0.6;  
    visibility: hidden; 
    -webkit-animation-name: visible;
    animation-name: visible;

}
.refresh-overlay.visible {
    visibility: visible;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.refresh-img {
    text-align: center;    
    margin-top: 25%;
    margin-bottom: 25%;
}

@-webkit-keyframes visible {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 @keyframes visible {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }

 div.thumbnail {
     cursor: pointer;
     margin-top: 20px;
     margin-bottom: 1px!important;
     position: relative;
     background: none;
     border:0px!important;
 }


 div.thumbnail img {
     filter: grayscale(2%);
     padding: 2px;
     height: 128px;
     width: 128px;
 }

 div.thumbnail.selected img.image_picker_image {
        opacity: 0.4;
 }

 div.thumbnail.selected img {
    filter: grayscale(0%)!important;
    transition: 0.3s;
 }

 div.thumbnail.selected {
    border-radius: 20%;
    display: block;
    background: url('images/tick.png')!important;
    background-size: cover!important;
    z-index: 99999999999!important;
 }

 /*div.sv_q_imgsel {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 1px!important;
    position: relative;
    background: none;
    border:0px!important;
 }


 div.sv_q_imgsel.checked {
    border-radius: 20%;
    background: url('images/tick.png')!important;
    background-size: cover!important;
    z-index: 99999999999!important;
 }
*/

div.sv_q_imgsel {
    cursor: pointer;
    background: none;
    border:0px!important;
}
fieldset.sv_imgsel {
    padding: 20px;
}
 div.sv_q_imgsel img {
    filter: grayscale(50%);
    padding: 15px;
    padding: 2px;
    /*height: 148px;
    width: 164px;*/
    transform: scale(0.8); 
    transition: transform .2s; /* Animation */
}

div.sv_q_imgsel.checked img {
    filter: grayscale(0%)!important;
    transition: 0.3s;
}



 div.sv_q_imgsel.checked img.sv_q_imgsel_image {
     position: relative; 
     opacity: 1;
     z-index: 99999999;
     transform: scale(1 ); 
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    }

    .sv_main.sv_main .sv_q_imgsel.checked label > div {
        background: none!important;
    }

 .mybutton {
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #212121;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.9;
    width: 300px;
}

.mybutton {
  border-radius: 6%;
  cursor: pointer;
}


#container1{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#container2{
    width: 100%;
    height: 99%;
    overflow: auto;
    padding-right: 15px;
}

/* html, body{
    height: 99%;
    overflow:hidden;
}

*/


.floating{
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px); opacity: 0.5;}
    to {-webkit-transform: translate(0, -0px); opacity: 0.9;}    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}


.scaling{

    -webkit-animation-name: scalex;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}
    
    @-webkit-keyframes scalex{
        from {-webkit-transform: scale(0.9);}
        65% {-webkit-transform: scale(1.0);}
        to {-webkit-transform: scale(0.9);}    
    }
        
    @-moz-keyframes scale{
        from {-moz-transform: scale(0.9);}
        65% {-moz-transform: scale(1.0);}
        to {-moz-transform: scale(0.9);}    
    }

.form-control {
   width:75%!important;
   padding: 45px 20px;
   font-size: 2em;
}

.alert-danger {
    background: #ff91be!important;
}

div#positioning {
    margin-top: 300px;
}

div#sp_100,#sp_101,#sp_102,#sp_103,#sp_104,#sp_105,#sp_106,#sp_107,#sp_108,#sp_109,#sp_110,#sp_111,#sp_112,#sp_113 {
    width: 100%;
    padding-left: 15%;
    margin: 0px auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

div#sp_100 {
    padding-left: 25%;
    margin-top: 200px;
}

div#sp_103 {
    padding-left: 20%;
    margin-top: 415px;
}

div#sp_113 {
    margin-top: 290px;
    padding-left: 16%;
}

div#sp_106,#sp_105,#sp_108,#sp_109,#sp_110,#sp_111,#sp_112,#sp_104 {
    padding-left: 20%;
    margin-top: 355px;
}

div#sp_107 {
    padding-left: 20%;
    margin-top: 180px;
}
 
.sv_qstn .sv_q_imgsel label > div {
    border:none;
}

div#sq_114 {
    width: 90%;
}

div#sp_114 {
    margin-top: 290px;
    padding-left: 16%;
}

div#sp_115 {
    margin-top: 290px;
    padding-left: 16%;
}
/*  
div#sp_100 {
    padding-left: 25%;
    margin-top:350px;
}

div#sp_103 {
    padding-left: 20%;
    margin-top:35px;
}

div#sp_104 {
    padding-left: 20%;
    margin-top:40px;
}
*/

div#sq_114 .sv_qcbc.form-inline { 
    text-align: left!important;
}

#sq_102,#sq_103,#sq_108 {
    margin-top: 225px;
}

.sv_qcbc.form-inline{
    text-align: center;
}

#surveyPrev {
   position: absolute;
   left: 2%;
   top: 40%;
   z-index: 9999999999999;
}

#surveyNext {
    position: absolute;
    right: 2%;
    top: 40%;
    z-index:9999999999999999999;
 }

 #surveyNext,#surveyPrev img {
     opacity: 0.5;
  }

  .alert-danger {
    width: 75%!important;
  }

  #surveyComplete {
    position: absolute;
    right: 2%;
    top: 40%;
}

#surveyComplete2 {
    text-align: center;
}

